#headerbgimg{
	background:  url(img/header_background.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}

#headerbgimg:before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

#bannerText {
	z-index: 5;
}

#bannerText h1{
	color:white;
	margin-top: 30vh;
	z-index: 5;
}

#bannerText p{
	color:white;
	margin-top: 1vh;
	z-index: 5;
}

#bannerText .btn{
	z-index:100;
}

#bannerText .btn:focus{
	color:white;
	background: none;
}

#section1{
	margin-top: 50px;
	padding-top: 80px;
	color:#555555;
}

#section1 div{
	margin-top: 20px;
}

.imgIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 70px;
	border: 2px solid #e7e7e7;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}

.imgIcon:hover{
	background: #c0301c;
	cursor: pointer;
}

.imgIcon:hover img{
	filter: brightness(1000%);

}

.icons{
	display: inline-block;
	margin-bottom: 20px;
}
#aboutUs{
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 40px;
	background: #f8f8f8;
}
#section2{
	color:#555555;
}

hr{
	height: 2px;
	border: 0.5px solid rgba(0,0,0,0.5);
	border-top: none;
}

#section2 div img{
	height : 35vh;
}

.text1 h4{
	padding-top: 15px;
}

#section3{
	margin-top: 50px;
	padding-top: 80px;
	color:#555555;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.gallery img{
	height: 30vh;
	width: 50vh;
}
.galBtn{
	background: none;
}

.btn.focus, .btn:focus{
	box-shadow: none;
	color: #d06455;
}


@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

}

#getintouch{
	background:
	linear-gradient(
      rgba(192, 48, 28, 0.8), 
      rgba(192, 48, 28, 0.8)
    ),
    url(img/get_in_touch_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	margin-top: 80px;
	background-blend-mode: multiply;
}

#bannerText2 {
	z-index: 5;
}

#bannerText2 h4{
	color:white;
	margin-top: 10vh;
	z-index: 5;
}

#bannerText2 p{
	color:white;
	margin-top: 1vh;
	margin-bottom: 5vh;
	z-index: 5;
}

#bannerText2 .btn{
	z-index:100;
}

#bannerText2 .btn:focus{
	color:white;
	background: none;
}

#blogs h4{
	margin-top: 50px;
	padding-top: 80px;
}

#blogs div img{
	width:45vh;
	height:30vh;
}

#blogs2 p{
	margin-bottom: 50px;
}

#calendar{
	color:#777777;
	border-radius: 0px;
	border: 2px solid black;
	padding: 5px;
}

#startup strong{
	color:#c0301c;
}

#blogs1 a{
color:#757575;
}

#blogs2 a{
color:#757575;
}

#blogs1 a:hover{
color:#c0301c;
text-decoration: none;
}

#blogs2 a:hover{
color:#c0301c;
text-decoration: none;
}

#blogs
{
	margin-bottom: 80px;
}

#footer1
{
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 40px;
	background: #f8f8f8;
}

.carousel-indicators li
{
	width: 10px;
	height: 10px;
	border-radius: 70px;
	background-color:#dddddd;
}

.carousel-indicators 
.active {
	background-color:#c0301c;
}

:focus {
    outline: none;
}

.john
{
	width: 500px;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#getit
{
	color:#555555;
	margin-top: 80px;
}

#getit h5::before
{
	position:absolute;
	right:0;
	left:-10px;
	bottom:0;
}

#regist::before
{
	content:url("img/adress.png");
	top:0;
}

#regist2::before
{
	content:url("img/hotline.png");
	top:97px;
}

#regist3::before
{
	content:url("img/email.png");
	top:190px;
}

#allform
{
	margin-top: 50px;
}

#forms input, textarea
{
	box-sizing: border-box;
	margin-bottom: 20px;

}

#forms input
{
	width: 48%;

}

#butform
{
	--webkit-appearance: none;
	padding:5px 15px; 
    background:none; 
    border:0 none;
    border:1px solid black;
    cursor:pointer;
    font-size: 10pt;
    padding: 5px;
}

#forms input:focus, textarea:focus
{
	border:1px solid red;
	padding-left: 15px;
}

#forms input::placeholder
{
	padding-left: 15PX;
	font-size: 10PT;
}

#forms textarea::placeholder
{	font-size: 10PT;

}
