@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
  font-family: 'Jura', sans-serif;
  font-style: inherit;
  box-sizing: content-box;
}
body {
  background: black;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
#title {
  min-height: : 100vh !important;
  text-align: center;
 /*font-family: 'Roboto Mono', monospace;*/

  font-size: 50px;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 70vh;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  border-image:  linear-gradient( to bottom, #325d94, rgba(0, 0, 0, 0)) 1 100%;

}
.slide-title{
  width: 300px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
}
.swiper-slide video{
  position: absolute;
  left: -200px;
  z-index: -10;
}
.swiper-button-next{
  top:90% !important;
  right: 10% !important;
  outline: none;
   cursor: pointer;

}
.swiper-button-prev{
  top:90% !important;
  left: 83% !important;
  outline: none;
  cursor: pointer;

}
.swiper-button-next:after{
  content: "";
  position: absolute;
  top: -1.390922401171303vw;
  background: url("arrow2.png") no-repeat 50%;
  width: 3.881405563689604vw;
  height: 5.393850658857979vw;
  background-size: contain;
}
.swiper-button-prev:after{
  content: "";
  position: absolute;
  top: -1.390922401171303vw;
  background: url("arrow3.png") no-repeat 50%;
  width: 2.881405563689604vw;
  height: 5.393850658857979vw;
  background-size: contain;
}
.swiper-slide  h3{
  color:white;
  padding-left: 10px;
}
.swiper-slide  p{
  color:white;
  padding-left: 10px;
  opacity: 0.85;
}

.swiper-pagination-fraction{
  border: 2px solid #325d94;
  border-right: none;
  padding: 5px;
  width: 45px;
  left:96%;
  bottom: 80px;
  color: white;
}
.swiper-container h1{
  font-size: 2.2em;
  color:white;
  margin-left:250px;
  position: fixed;
  bottom: 86px;
}
.games-title-h{
  margin: none;
  margin-top:10px;
}

/*Кнопка*/
.flip {
  position: fixed;
  width: 175px;
  height: 48px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  bottom: 100px;
  left: 950px;
  margin: -24px 0 0 -80px;
}
.flip a {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 175px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.4em;
}
.flip a .front {
  background-color: #325d94;
  color: #fff;
  -webkit-transform: rotateY(0) translateZ(24px);
  -moz-transform: rotateY(0) translateZ(24px);
  -o-transform: rotateY(0) translateZ(24px);
  -ms-transform: rotateY(0) translateZ(24px);
  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: rgba(255,255,255,0);
  color: rgba(34,34,34,0);
  -webkit-transform: rotateX(90deg) translateZ(24px);
  -moz-transform: rotateX(90deg) translateZ(24px);
  -o-transform: rotateX(90deg) translateZ(24px);
  -ms-transform: rotateX(90deg) translateZ(24px);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip a .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 120%;
  height: 50%;
  background: #325d94;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.flip a:hover {
  -webkit-transform: translateZ(-24px) rotateX(-90deg);
  -moz-transform: translateZ(-24px) rotateX(-90deg);
  -o-transform: translateZ(-24px) rotateX(-90deg);
  -ms-transform: translateZ(-24px) rotateX(-90deg);
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: #000;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.flip a:hover .back {
  color: #325d94;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -ms-transition: color 0.4s linear;
  transition: color 0.4s linear;
  background: #fff;
}
.flip a:hover .back:after {
  -webkit-transform: rotate(6deg) translate(100px, -18px);
  -moz-transform: rotate(6deg) translate(100px, -18px);
  -o-transform: rotate(6deg) translate(100px, -18px);
  -ms-transform: rotate(6deg) translate(100px, -18px);
  transform: rotate(6deg) translate(100px, -18px);
}

.games{
  height: 90vh;
}
.advantages{
  height: 100vh;
}
.page-footer{
  background: #132f53;
}

.title-advan{
  margin-top: 100px;
}
/*иконки*/

.icon{
  font-family: fontawesome;
  font-size: 32px;

}
.advantages .title{
  font-size: 20px;
  font-weight: 600;
}

.advantages .text{
  opacity: 0.9;
}
/*карточки*/

.card-wrap{
  display: flex;
  justify-content: center;
}

#card-wrapper {

  transform: translate(0,0);
  width: 500px;
  height: 300px;
}

.card1 {
  margin-top:30px;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: .6s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}

.card2 {
  margin-top:30px;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: .6s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}


#card-front {
  background: white;
  z-index: 2;
}

#card-back {
  transform: rotateY(180deg);
  background: #325d94;
  z-index: 1;
  cursor: pointer;
}


.face {
  transform-origin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}



#card-wrapper:hover #card-front {
  transform: rotateY(180deg);
}

#card-wrapper:hover #card-back {
  transform: rotateY(0deg);
  z-index: 3;
}

.details {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details h3 {
  font-weight: 900;
  color: white;
  text-align: center;
}

.details p {
  font-size: 20px;
  color: white;
  text-align: center;
}
.card1 h3{
  padding-top:13%;
}

nav{
  background:black;
}

.logo_white{
  padding: 10px;
  height: 45px;
}
.logo_social{
  padding: 20px;
  height: 20px;
  padding-right: 0;
  padding-left: 0;
}
.logo_social:hover{
  background: none;
}
nav .a_logo{
  height: 64px;
}

.side-nav .social_a{
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #325d94 !important;
}

.side-nav .logo_social{
  height: 60px;
  margin-top: -14px;

}
.social_sidenav{
  width:50px;
  height: 50px;
}
.logo_white1{
  padding: 5px;
  height: 55px;
}
.nav-wrapper{
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-font-smoothing: antialiased;

}
.nav-wrapper li{
  letter-spacing: 2px;
}
.side-nav{
  padding-top: 10vh;
}


.burger_icon{
  padding-left: 15px;
}

.btn-cont {
 text-align: center;
}
.btn-cont .btn1 {
 position: relative;
 outline: 1px solid white;
 outline-offset: -5px;
 color: white;
 text-decoration: none;
 font-size: em(18px);
 text-transform: uppercase;
 letter-spacing: 2px;
 -webkit-font-smoothing: antialiased;
}
.btn-cont .btn1:hover {
 border: none;
}
.btn-cont .btn1:hover .line-1 {
 animation: move1 1500ms infinite ease;
}
.btn-cont .btn1:hover .line-2 {
 animation: move2 1500ms infinite ease;
}
.btn-cont .btn1:hover .line-3 {
 animation: move3 1500ms infinite ease;
}
.btn-cont .btn1:hover .line-4 {
 animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
 content: "";
 display: block;
 position: absolute;
 width: 1px;
 background-color: white;
 left: 0;
 bottom: 0;
}
.btn-cont .line-2 {
 content: "";
 display: block;
 position: absolute;
 height: 1px;
 background-color: white;
 left: 0;
 top: 0;
}
.btn-cont .line-3 {
 content: "";
 display: block;
 position: absolute;
 width: 1px;
 background-color: white;
 right: 0;
 top: 0;
}
.btn-cont .line-4 {
 content: "";
 display: block;
 position: absolute;
 height: 1px;
 background-color: white;
 right: 0;
 bottom: 0;
}
@keyframes move1 {
 0% {
   height: 100%;
   bottom: 0;
 }
 54% {
   height: 0;
   bottom: 100%;
 }
 55% {
   height: 0;
   bottom: 0;
 }
 100% {
   height: 100%;
   bottom: 0;
 }
}
@keyframes move2 {
 0% {
   width: 0;
   left: 0;
 }
 50% {
   width: 100%;
   left: 0;
 }
 100% {
   width: 0;
   left: 100%;
 }
}
@keyframes move3 {
 0% {
   height: 100%;
   top: 0;
 }
 54% {
   height: 0;
   top: 100%;
 }
 55% {
   height: 0;
   top: 0;
 }
 100% {
   height: 100%;
   top: 0;
 }
}
@keyframes move4 {
 0% {
   width: 0;
   right: 0;
 }
 55% {
   width: 100%;
   right: 0;
 }
 100% {
   width: 0;
   right: 100%;
 }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
 /*bottom: 0;*/
 background: rgba(0, 0, 0, 0.7);
 color: #f1f1f1;
 width: 100%;
 /*padding: 20px;*/
 height: 100vh;
 /* z-index: -10;*/
}
.content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}


.content a {
  padding-top: 60px;
}
.content a span {
  position: absolute;

  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid rgb(255,255,255, 0.7);
  border-radius: 50px;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer !important;
}
.content a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: rgb(255,255,255, 0.7);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


#content_wr{
  margin-top: 15%;
/*position: absolute;
bottom: 0;*/
color: #f1f1f1;
width: 100%;
padding-top: 50px;
/*padding: 20px;*/
}


/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


.power {
  display: table;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  z-index: 50;
  left: 40px;
}
.power input {
  display: none;
}
.power input + div {
  position: relative;
  overflow: hidden;
  background: #325d94;
  border-radius: 50%;
  padding: 18px;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}
.power input + div:before {
  content: '';
  width: 4px;
  height: 14px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  z-index: 2;
  margin: 0 0 0 -2px;
  top: 18px;
  opacity: 1;
  -webkit-transform: scaleY(1) translate(0, 2px);
  transform: scaleY(1) translate(0, 2px);
  transition: opacity .4s ease .1s, -webkit-transform .9s ease .4s;
  transition: opacity .4s ease .1s, transform .9s ease .4s;
  transition: opacity .4s ease .1s, transform .9s ease .4s, -webkit-transform .9s ease .4s;
}
.power input + div:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #00BFFF;
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
}
.power input + div svg {
  width: 36px;
  height: 36px;
  fill: none;
  display: block;
  stroke: #fff;
  position: relative;
  z-index: 2;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 84;
  stroke-dashoffset: 160;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: stroke-dasharray .6s ease 0s, stroke-dashoffset .7s ease .0s;
}
.power input + div:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}
.power input:checked + div {
  -webkit-filter: drop-shadow(0 4px 6px rgba(33, 231, 110, 0.3));
  filter: drop-shadow(0 4px 6px rgba(33, 231, 110, 0.3));
}
.power input:checked + div svg {
  stroke-dasharray: 120;
  stroke-dashoffset: 133;
  transition: stroke-dasharray 0.6s ease 0.45s, stroke-dashoffset 0.7s cubic-bezier(0.94, -0.1, 0.1, 1.2) 0.2s;
}
.power input:checked + div:before {
  -webkit-transform: scaleY(0) translate(0, 7px);
  transform: scaleY(0) translate(0, 7px);
  transition: opacity .4s ease .0s, -webkit-transform .6s ease .3s;
  transition: opacity .4s ease .0s, transform .6s ease .3s;
  transition: opacity .4s ease .0s, transform .6s ease .3s, -webkit-transform .6s ease .3s;
}
.power input:checked + div:after {
  -webkit-transform: translate(40%, 40%);
  transform: translate(40%, 40%);
}



:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: #325d94;/* hsl(210, 80%, 42%);*/
  --bg-color: #141218;
}



.nav_ul { 
  padding: 0; 
  list-style: none; 
  display: table;
  text-align: center;
}
.nav_ul li { 
  display: table-cell; 
  position: relative; 
}
.nav_ul a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  position: relative;
}
.nav_ul a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav_ul a:not(.btn1):hover:after { 
  width: 100%; 
  left: 0; 
}

.header_{
  height: 100vh;
}

.prices{
  height: 80vh;
}
.prices-title{
  margin-bottom: 50px;
}

.card-panel{
  background: #132f53;
  height: 400px;
  overflow: hidden;
}

.card-panel div{
        background: #091c34;
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.calendar{
  height: 75vh;
  margin-bottom: 150px;
  margin-top: 100px;
}

.datepicker{
  color:white;
}
.datepicker-date-display{
  background-color: #091c34 !important;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #091c34 !important;}

.datepicker-table td.is-today {
    color: #6ea1e1;
}
.datepicker-table td.is-selected{
  background-color:#091c34 !important;
}
.datepicker-table td {
  border-radius: 0 !important;
}

.datepicker-table td.is-selected{
  background-color:#091c34 !important;
   border-radius: 0 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #325d94 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    display: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 0 !important;
}
[type="radio"]:not(:checked)+label:after {
    display: none !important;
}
[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 0 !important;
    display: none;
}

.btn{
  background-color: #325d94 !important;
}
.btn-large{
  background-color: #325d94 !important;
}

.task-type{
  margin-bottom: 20px;
}

.player-select{
  margin-bottom: 20px;
  margin-top:20px;
}

.task-type {
    margin-top: 22px
}

 .task-type-choices {
    height: 100%
}

.task-type-choices label {
    padding-left: 15px !important;
    width: 100px;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
    border: 1px solid rgb(255,255,255, 0.6) !important;
   /* margin-right: 10px;*/
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
    border: 2px solid transparent
}

.task-type-choices label:last-child {
    margin-right: 0
}

.task-type-choices input[type=radio] {
    visibility: hidden;
    height: 0;
    width: 0
}

.task-type-choices input[type=radio]:checked + label {
    border-color: #325d94 !important;
}

.task-type-choices input[type=radio]:hover:not(:checked) + label {
    background-color: #325d94;
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease
}


.calendar-info input::placeholder{
  color: rgb(255,255,255, 0.7) !important;
}





input:focus {
  border-bottom: 1px solid #325d94 !important;
  -webkit-box-shadow: 0 1px 0 0 #325d94 !important;
  -moz-box-shadow: 0 1px 0 0 #325d94 !important;
  box-shadow: 0 1px 0 0 #325d94 !important;
}

.stripe{
  height: 10vh;
  background-image: linear-gradient(45deg, #325d94 14.29%, #000000 14.29%, #000000 50%, #325d94 50%, #325d94 64.29%, #000000 64.29%, #000000 100%);
background-size: 98.99px 98.99px;
margin-top: 100px;
margin-bottom: 100px;
}


@media only screen and (max-width: 767px) {
  #myVideo {
    position: inherit;
    max-width: 100%;
  }
 .logo_white1 {
    height: 40px;
}
#content_wr {
  margin-top: 0;
  padding-top: 0;
  }
#content_wr p{
  font-size: 25px;
}
#content_wr a{
  display: none;
}

.content{
  height: auto;
}
.header_{
  height: 70vh;
}
.power{
  display: none;
}

.advantages {
    height: auto;
}

.games {
    height: auto;
}
.swiper-container h1 {
      margin-left: 10px;
  }
.swiper-pagination-fraction {
  left: 90%;
}
.swiper-button-prev {
    left: 73% !important;

}


.swiper-button-next {
    right: 15% !important;
}


.prices {
    height: auto;
}

.calendar {
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.task-type-choices label {
        padding-left: 25px !important;
    padding-right: 25px !important;
    }

    .side-nav li>a {
    font-size: 28px !important;
    margin-bottom: 10px !important;
}

#card-front {display: none;}
#card-back {
    transform: rotateY(0deg);position: absolute;}

.card2 {
  backface-visibility: visible;
  position: absolute;
}

.swiper-container h1 {position: absolute;bottom: 0;}
.swiper-button-next{
  display: none;
}
.swiper-button-prev{
  display: none;
}
/*end*/
}


